{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -e

{{ if contains "fedora" .chezmoi.osRelease.idLike -}}
echo "Fedora COPR depoları kontrol ediliyor..."
{{ range .packages.fedora.copr -}}
if ! dnf repolist | grep -i -q "{{ . }}"; then
    sudo dnf copr enable -y {{ . | quote }} fedora-42-x86_64
fi
{{ end -}}

echo "Common and Fedora Packages installing..."
sudo dnf install -y {{range .packages.common}}{{. | quote }} {{ end }} {{ range .packages.fedora.dnf }} {{ . | quote }} {{ end }}

{{ end -}}
{{ end -}}
